html {
    box-sizing: border-box;
    font-size: 62.5%;
}
.container {
    width: 120rem;
    margin: 0 auto;
}
/*header*/
header{
    background-color:white;
}
.logo{
    display: flex;
    flex-basis: 10%;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6.5rem;
}
.navbar a {
    color:  black;
    text-decoration: none;
}
.navbar a:hover {
    color:black;
    text-decoration: none;
}
.nav-links{
    list-style: none;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 110%;
    font-weight: 900;
}
.nav-links li {
    margin-right: 2.5rem;
}
.nav-links i{
    margin-right: 2.5rem;
}
.titlle-header{
    color: black;
    display: flex;
}
.title-header h1 {
    font-size: 4rem;
    margin: 0;
    padding: .5rem;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5rem;
    
}
/*main*/


/*footer*/
footer{
    background-color: black;
    color: white;
    font-size: small;
}
.footer-content{
    color: white;
}
.footer-en{
    display: flex;
    align-items: end;
}


